{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'CSS/menu.css' %}">
</head>
<body>
    <section>
        <section class="menu">
            <div class="title"><h2>Practicas y Anotaciones</h2></div>
            <div class="content">
                <a href="Sistemas-de-Comunicacion/"><button>Sistema de Comunicacion</button></a>
            </div>
        </section>
    </section>
</body>
</html>